.password-mismatch-message,
.invalid-link-message,
.token-expired-message,
.success-message {
  display: none;
}

.has-password-mismatch .password-mismatch-message,
.has-invalid-link .invalid-link-message,
.has-token-expired .token-expired-message,
.has-success .success-message {
  display: block;
}

.has-success label,
.has-success input {
  display: none;
}